## <center>CPE102 Computer Programming Basics</center>
# <center>Lab 11 - Pandas</center>
---

# Part 1: Load dataset HR-Employee-Attrition.csv

In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv('Data/HR-Employee-Attrition.csv', header=0, sep='\t')
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

# How many record in this dataset?

axis = 0 คือแถว, axis = 1 คือคอลัมน์ (หลัก)

In [3]:
print("จำนวนคอลัมน์ คือ",len(df.axes[1]),)  #1 = columns
#len(df.columns)

จำนวนคอลัมน์ คือ 35

# How many columns and what are they?

axis = 0 คือแถว, axis = 1 คือคอลัมน์ (หลัก)

In [4]:
print("จำนวนแถว คือ",len(df.axes[0]),)  #0 = rows

จำนวนแถว คือ 1470

# Which columns are category type?

Plese be careful that some numeric type column may be categorical

In [5]:
#Q:คอมลัมไหนบ้างที่เป็นตัวนส

#คอมลัมทั้งหมด 
cols = df.columns
#print(cols)

#เอาคอมลัมที่เป็นตัวเลข
num_cols = df._get_numeric_data().columns
#print(num_cols) 

#คอมลัมทั้งหมด - คอมลัมตัวเลข 
print("columns ที่เป็นตัวหนังสือมีดังนี้","\n",list(set(cols) - set(num_cols)))

columns ที่เป็นตัวหนังสือมีดังนี้
 ['Gender', 'Over18', 'JobRole', 'MaritalStatus', 'OverTime', 'EducationField', 'BusinessTravel', 'Attrition', 'Department']

# How many JobRole and what is it?

In [6]:
print("JobRole มีดังนี้")
print(df.JobRole.unique()) #unique ใช้ลบตัวที่สมาชิกมีค่าซ้ำ

print("\nJobRole มีทั้งหมด",len(df.JobRole.unique()),"อย่าง")

JobRole มีดังนี้
['Sales Executive' 'Research Scientist' 'Laboratory Technician'
 'Manufacturing Director' 'Healthcare Representative' 'Manager'
 'Sales Representative' 'Research Director' 'Human Resources']

JobRole มีทั้งหมด 9 อย่าง

# How many Department and what is it?

In [7]:
print("Department มีดังนี้")
print(df.Department .unique())

print("\nDepartment มีทั้งหมด",len(df.Department .unique()),"อย่าง")

Department มีดังนี้
['Sales' 'Research & Development' 'Human Resources']

Department มีทั้งหมด 3 อย่าง

# How many EducationField and what is it?

In [8]:
print("EducationField มีดังนี้")
print(df.EducationField.unique())


print("\nEducationField มีทั้งหมด",len(df.EducationField.unique()),"อย่าง")

EducationField มีดังนี้
['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources']

EducationField มีทั้งหมด 6 อย่าง

# What is the average age of people in this company?

In [15]:
print("อายุเฉลี่ยของประชากรในประเทศ คือ",df.Age.mean())

อายุเฉลี่ยของประชากรในประเทศ คือ 36.923809523809524

# How many female in this company?

In [18]:
print("จำนวนผู้หญิงทั้งหมดในประเทศนี้มี",len(df[df.Gender.isin(['Female'])]),"คน")

จำนวนผู้หญิงทั้งหมดในประเทศนี้มี 588 คน

# How many people have monthly income more than 10000?

In [28]:
print("จำนวนคนที่มีเงินเดือนมากกว่า 10000 มี",len(df[df.MonthlyIncome > 10000]),"คน")

จำนวนคนที่มีเงินเดือนมากกว่า 10000 มี 281 คน

# How many people who travel frequently and is single?

In [61]:
print("จำนวนคนที่เที่ยวบ่อยและยังโสด มี",len(df[df.BusinessTravel.isin(['Travel_Frequently']) & df.MaritalStatus.isin(['Single'])]),"คน")

จำนวนคนที่เที่ยวบ่อยและยังโสด มี 96 คน

# What is the average age of people group by maritial status?

In [37]:
print("อายุเฉลี่ยของกลุ่มคนตามสถานะการสมรส มีดังนี้")
print(df.groupby('MaritalStatus').Age.mean())

อายุเฉลี่ยของกลุ่มคนตามสถานะการสมรส คือ
MaritalStatus
Divorced    37.489297
Married     37.757801
Single      35.336170
Name: Age, dtype: float64

# What is the median hourly rate of people group by Business Travel?

In [39]:
print("อัตรารายชั่วโมงเฉลี่ยของกลุ่มคนโดยการเดินทางเพื่อธุรกิจ มีดังนี้")

print(df.groupby('BusinessTravel').HourlyRate.median())

อัตรารายชั่วโมงเฉลี่ยของกลุ่มคนโดยการเดินทางเพื่อธุรกิจ มีดังนี้
BusinessTravel
Non-Travel           65
Travel_Frequently    65
Travel_Rarely        66
Name: HourlyRate, dtype: int64

# What is the average hourly rate of people group by job role?

In [40]:
print("อัตราเฉลี่ยรายชั่วโมงของกลุ่มคนตามแต่ละอาชีพ มีดังนี้")

print(df.groupby('JobRole').HourlyRate.mean())

อัตราเฉลี่ยรายชั่วโมงของกลุ่มคนตามแต่ละอาชีพ มีดังนี้
JobRole
Healthcare Representative    66.839695
Human Resources              64.173077
Laboratory Technician        66.683398
Manager                      66.833333
Manufacturing Director       65.006897
Research Director            63.762500
Research Scientist           66.708904
Sales Executive              65.438650
Sales Representative         64.337349
Name: HourlyRate, dtype: float64

# Which job role has more hourly rate than overall average?

In [29]:
#แสดงตาราง
jobHR = df.groupby('JobRole').HourlyRate.mean()
print("อัตราเฉลี่ยรายชั่วโมงของกลุ่มคนตามแต่ละอาชีพ มีดังนี้")
print(jobHR)


print("\n") #เพื่อความสวยงามและสบายตา

#หาค่าเฉลี่ย
aver_HR = df.HourlyRate.mean()
print("The average of hourly rate is",aver_HR)


print("\n") #เพื่อความสวยงามและสบายตา


#ทำการกรองว่าอาชีพไหนสูงกว่าค่าเฉลี่ยบ้าง
MoreThanAver_jobHR = list(filter( lambda x: (x > aver_HR),jobHR ))  
#print(MoreThanAver_jobHR)


#ต้องการให้แสดงชื่อของอาชีพที่สูงกว่าค่าเฉลี่ย
ListNameMoreThanAver_jobHR = []

for i in MoreThanAver_jobHR:
    if i == 66.83969465648855:
        ListNameMoreThanAver_jobHR.append("Healthcare Representative")
    elif i == 64.17307692307692:
        ListNameMoreThanAver_jobHR.append("Human Resources")
    elif i == 66.68339768339769:
        ListNameMoreThanAver_jobHR.append("Laboratory Technician")
    elif i == 66.83333333333333:
        ListNameMoreThanAver_jobHR.append("Manager")      
    elif i == 65.00689655172414:
        ListNameMoreThanAver_jobHR.append("Manufacturing Director")
    elif i == 63.7625:
        ListNameMoreThanAver_jobHR.append("Research Director")
    elif i == 66.70890410958904:
        ListNameMoreThanAver_jobHR.append("Research Scientist")
    elif i == 65.43865030674847:
        ListNameMoreThanAver_jobHR.append("Sales Executive")      
    elif i == 64.33734939759036:
        ListNameMoreThanAver_jobHR.append("Sales Representative")
            
        

print("The job role has more hourly rate than overall average are..\n",ListNameMoreThanAver_jobHR)

อัตราเฉลี่ยรายชั่วโมงของกลุ่มคนตามแต่ละอาชีพ มีดังนี้
JobRole
Healthcare Representative    66.839695
Human Resources              64.173077
Laboratory Technician        66.683398
Manager                      66.833333
Manufacturing Director       65.006897
Research Director            63.762500
Research Scientist           66.708904
Sales Executive              65.438650
Sales Representative         64.337349
Name: HourlyRate, dtype: float64


The average of hourly rate is 65.89115646258503


The job role has more hourly rate than overall average are..
 ['Healthcare Representative', 'Laboratory Technician', 'Manager', 'Research Scientist']

---